* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container {
    width: 35rem;
}
.nav {
    display: flex;
    justify-content: space-between;
}